.top{
    width: 42rem;
    height: 10rem;
    background-color: #3f8593;
    display: flex;
    align-items: center;
    animation-name: leftToRight;
    animation-duration: 1s;
}

.logo {
    width: 6rem !important;
    height: 6rem !important;
    margin: 1rem;
}

.languages {
display: flex;

}

.frameworks {
    display: flex;
}

.net {
background-color: rgb(81, 43, 212);
display: flex;
justify-content: center;
}

.nettext {
    color: white;
    font-size: 2rem;
    text-align: center;
    

}

.container > div {
    margin: 1rem;
}

.logo:hover{
    transform: rotate(360deg);
    transition: 1s;
}

.upperv {
color: rgb(52, 73, 94);
font-size: 6rem;
margin: 0;
position: absolute;
display: block;
left: 1.5rem;
bottom: 0.265rem;
}

.lowerv{
color: rgb(65, 184, 131);
font-size: 6rem;
margin: 0;
position: absolute;
display: block;
left: 1rem;
}

.fillv {
    background-color: rgb(52, 73, 94);
    height: 0.8rem;
    width: 0.8rem;
    position: absolute;
    left: 44%;
    top: 71%;
    
}

.vue {
 position: relative;

}

.bootstrap {
    background: linear-gradient(
        to right,
        rgb(136, 18, 252) 0%,
        rgb(118, 17, 247) 100%
    );
    display: flex;
    justify-content: center;
    border-radius: 1.5rem;
}

.letterb{
    font-size: 3.5rem;
    color: white;
    text-align: center;
    margin: auto;
}

.container {
    padding: 2rem;

}

.headername {
    color: white;
    font-size: 1.5rem;
    margin-left: 2rem;
}

.education{
    color: white;
    font-size: 1rem;
    margin-left: 2rem;
}


.a4 {
    width: 42rem;
    height: 59.4rem;
    display: block;
    margin: auto;
    color: black;
    box-shadow: 0rem 0.1rem 1rem;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0295b369;
}

.biography > h2 {
    text-decoration: underline;
}

.python {
height: 6rem;    
}

.sqltext {
    font-size: 1.8rem;
    color: white;
    text-align: center;
    position: relative;
    bottom: 10%;
}


 @keyframes leftToRight {
    from{
        transform: translateX(-150%);
    }
    to{
        transform: translateX(0);
    }
 }

@keyframes upToDown {
    from{
        transform: translateY(-500%);
    }
    to{
        transform: translateY(0);
    }
}

#photo {
    height: 8rem;
    border-radius: 5rem;
    border: 0.2rem solid rgb(0, 0, 0);
    margin-left: 2rem;
    
}


.csharp{
    color: white;
    font-size: 2.75rem;
    text-align: center;
}

.sql{

}

.sqlcylinder{
    background-color: rgb(223, 162, 49);
    height: 6rem;
    width: 5rem;
    border-radius: 4rem/2rem;
    margin: auto;
}

.sqlcircle {
    background-color: white;
    width: 4rem;
    height: 1.5rem;
    position: relative;
    border-radius: 5rem/2rem;
    margin-left: 0.5rem;
    top: 5%;
    }
    

.js {
    background-color: rgb(240, 219, 79);
    display: flex;
    text-align: end;
}

.jsheader
{
    font-size: 3rem;
    width: 100%;
}



.hex:before {
    content: " ";
    width: 0; height: 0;
    border-bottom: 1.5rem solid purple;
    border-left: 2.75rem solid transparent;
    border-right: 2.75rem solid transparent;
    position: absolute;
    top: -1.5rem;
}


.hex {
    margin-top: 1.5rem;
    width: 5.5rem;
    height: 3rem;
    background-color: purple;
    position: absolute;
    display: inline;

}

.hex:after {
    content: "";
    width: 0;
    position: absolute;
    bottom: -1.5rem;
    border-top: 1.5rem solid purple;
    border-left: 2.75rem solid transparent;
    border-right: 2.75rem solid transparent;
}